<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISistem" />
                <binding name="NetTcpBinding_ILogIn" />
                <binding name="NetTcpBinding_IJavni" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9000/Servis/Service1/Sistem"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISistem"
                contract="ServiceReference1.ISistem" name="NetTcpBinding_ISistem">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9000/Servis/Service1/LogIn"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILogIn"
                contract="ServiceReference1.ILogIn" name="NetTcpBinding_ILogIn">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9000/Servis/Service1/Javni"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJavni"
                contract="ServiceReference1.IJavni" name="NetTcpBinding_IJavni">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>