<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="Servis.Service1" behaviorConfiguration="throttling">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8100/Servis/Service1/" />
            <!-- admin -->
            <add baseAddress = "net.pipe://localhost/Servis/Service1/" />
            <!-- operater -->
            <add baseAddress = "net.tcp://localhost:9000/Servis/Service1/" />
          </baseAddresses>
        </host>
        <!-- KLIJENT -->
        <endpoint address="LogIn" binding="wsHttpBinding" contract="Servis.ILogIn">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="Javni" binding="wsHttpBinding" contract="Servis.IJavni">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>        

        <!-- OPERATER -->
        <endpoint address="Sistem" binding="netTcpBinding" contract="Servis.ISistem">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="LogIn" binding="netTcpBinding" contract="Servis.ILogIn">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="Javni" binding="netTcpBinding" contract="Servis.IJavni">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        
        <!-- ADMINISTRATOR -->
        <endpoint address="Sistem" binding="netNamedPipeBinding" contract="Servis.ISistem">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="LogIn" binding="netNamedPipeBinding" contract="Servis.ILogIn">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="Javni" binding="netNamedPipeBinding" contract="Servis.IJavni">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="Admin" binding="netNamedPipeBinding" contract="Servis.IAdmin">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        
        <!-- WEB -->
        <endpoint address="web" binding="webHttpBinding" contract="Servis.IWeb" behaviorConfiguration="webHttp"/>
        
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="throttling">
          <serviceThrottling maxConcurrentCalls="5"/>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
