<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILogIn" />
                <binding name="WSHttpBinding_IJavni" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8100/Servis/Service1/LogIn"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILogIn"
                contract="ServiceReference1.ILogIn" name="WSHttpBinding_ILogIn">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8100/Servis/Service1/Javni"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IJavni"
                contract="ServiceReference1.IJavni" name="WSHttpBinding_IJavni">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>